<app-main></app-main>
<router-outlet></router-outlet>
<div class="container"  *ngIf="isHeaderVisible">
    <div class="container" *ngIf="isTableVisible" >
        <div class="table-container">
            <table class="table table-bordered table-striped mt-5 mx-auto" style="max-width: 500px;">
                <thead class="table-light">
                    <tr class="text-center table-success">
                        <th scope="col">Invoice Number</th>
                        <th scope="col">Date</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Sub Total</th>
                        <th scope="col">GST</th>
                        <th scope="col">Tax Amount</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Delete and Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let inv of data">
                        <td>{{ inv.invoiceNumber }}</td>
                        <td>{{ inv.curDate }}</td>
                        <td>{{ inv.customerName }}</td>
                        <td>
                            <ul>
                                <li *ngFor="let item of inv.item">{{ item.itemName }}</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li *ngFor="let item of inv.item">{{ item.quantity }}</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li *ngFor="let item of inv.item">{{ item.price }}</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li *ngFor="let item of inv.item">{{ item.subtotal }}</li>
                            </ul>
                        </td>
                        <td>5%</td>
                        <td>
                            <ul>
                                <li *ngFor="let item of inv.item">{{ item.gstAmount }}</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li *ngFor="let item of inv.item">{{ item.totalAmount }}</li>
                            </ul>
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-danger btn-sm me-1" (click)="deleteInvoice(inv.id)">Delete</button>
                                <a (click)="toggleTableVisibility()"  [routerLink]="['/update', inv.id]" class="btn btn-danger btn-sm" >Update</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
