<!-- header -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container" >
    <a class="navbar-brand text-light font-weight-bold" href="#">INvoicHostBooks</a>
    <button type="button"  class="btn btn-dark" (click)="openModal()">Add Customer</button>
    <button type="button"  class="btn btn-dark" (click)="openModal1()">Add Items</button>
    <button type="button" class="btn btn-dark" routerLink="route" (click)="onInvoicehide()">Create Invoices</button>
  </div>
</nav>







<!-- !-- items dropdown 
<mat-form-field class="form-group me-2">
    <mat-label>Items</mat-label>
    <mat-select (selectionChange)="onItemSelect($event.value)">
        <mat-option *ngFor="let itm of item" [value]="itm.name">
            {{ itm.name }}
        </mat-option>
    </mat-select> 
</mat-form-field> -->

<!-- unit price dropdown -->

<!-- <mat-form-field class="form-group">
    <mat-label>Unit Price</mat-label>
    <mat-select [(ngModel)]="selectedPrice" (ngModelChange)="onPriceSelect($event)">
        <mat-option *ngFor="let price of selectedItemPrice; let i = index" [value]="i">
            {{ price }}
        </mat-option>
    </mat-select>
</mat-form-field> -->


<!-- <div class="container">
    <div class="row align-items-center  pe-3">
      <div class="col border-end border-danger-subtle">
        <div *ngIf="selectedCustomerName">
          <p class="mb-0"><strong>Customer Name:</strong> {{ selectedCustomerName }}</p>
        </div>
      </div>
      <div class="col border-end border-danger-subtle">
        <div *ngIf="selectedItemName">
          <p class="mb-0"><strong>Item Name:</strong> {{ selectedItemName }}</p>
        </div>
      </div>
      <div class="col border-end border-danger-subtle">
        <div *ngIf="selectedPrice">
          <p class="mb-0"><strong>Unit Price:</strong> {{ selectedPrice }}</p>
        </div>
      </div>
      <div class="col">
        <input type="number" class="form-control" placeholder="Quantity" [(ngModel)]="itemQuantity" min="1" step="1">
      </div>
    </div>
  </div> -->


<!-- Invoice items table -->
<!-- Add item to invoice button -->
<!-- <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="mt-3 mb-3">
          <button class="btn btn-danger" (click)="addItemToInvoice(itemQuantity)">Invoice</button>
        </div>
      </div>
    </div>
  </div> -->



<!-- <div *ngIf="showInvoiceTable" class="container text-center mt-5">
    <div class="invoice-header">
      <h2>Invoice</h2>
      <p>Invoice Number: GN123456</p>
      <p>Date: {{ currentDate | date:'medium' }}</p>
    </div>
  
    <div class="billing-details">
      <h3>Billing Address</h3>
      <p>HostBooksh</p>
      <p>Udyog Vihar</p>
      <p>Gudgaon, Haryana, 122016</p>
      <p>Email: Hostbooks@hostbooks.com</p>
      <p>Phone: 9319242002, 8448816267, 8948884644</p>
    </div>-->


<!-- <div class="d-flex justify-content-center" *ngIf="invoiceItems.length > 0">
    <div class="text-center">
        <h3>Sub Total: {{ calculateSubTotal() | currency:'INR':'symbol-narrow':'1.2-2' }}</h3>
        <h3>Tax Amount ({{ (taxPercentage * 100) | number:'1.0-0' }}%): {{ calculateTaxAmount() |
            currency:'INR':'symbol-narrow':'1.2-2' }}</h3>
        <h3>Total Amount (including tax): {{ calculateTotalAmount() | currency:'INR':'symbol-narrow':'1.2-2' }}</h3>
        <button class="btn btn-primary" (click)="createInvoice()">Create Invoice</button>
    </div>
</div> -->

<!-- <label for="item">Item:</label>
<select id="item" [(ngModel)]="selectedItem" (ngModelChange)="onItemChange()">
    <option *ngFor="let item of items" [value]="item.id">{{ item.name }}</option>
</select>

<label for="quantity">Quantity:</label>
<input type="number" id="quantity" [(ngModel)]="quantity" (ngModelChange)="calculateTotal()">

<label for="unitPrice">Unit Price:</label>
<input type="number" id="unitPrice" [(ngModel)]="unitPrice" (ngModelChange)="calculateTotal()">

<label for="totalPrice">Total Price:</label>
<input type="number" id="totalPrice" [(ngModel)]="totalPrice" disabled> --> 
<!-- <mat-form-field>
    <mat-label>Item:</mat-label>
    <mat-select [(ngModel)]="selectedItem" (ngModelChange)="onItemChange($event)">
      <mat-option *ngFor="let item of items" [value]="item.id">{{ item.name }}</mat-option>
    </mat-select>
  </mat-form-field>-->